@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::after {
  box-sizing: inherit;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
	--color: #900d;
	--color: teal;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
body{
	background: rgba(126, 148, 170, 0.542);
	font-family: arial;
	font-size: clamp(19px,1.6vw,27px);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
h3{
	padding:  0 0 10px 0;
	text-align: center;
}
.mainBody{
	padding: 20px 0;
	box-shadow: 0 0 25px rgba(171, 29, 29, 0.3),
				-10px -10px 10px rgba(0,0,0,.1);
	width: min(400px,100%);
}
.header{
	padding: 30px 0;
}
.curtain{
	padding: 0 40px;
}
.mainBody ul{
	transition: all .2s;
}
.mainBody ul li{
	margin: 4% 0 0;
	cursor: pointer;
	position: relative;
}
.mainBody ul li::before{
	content: '';
	position: absolute;
	left: -5%;
	height: 100%;
	width: 3%;
	background: rgba(16, 16, 2, 0.255);
	transform-origin: right;
	transform: scaleX(0);
	transition: transform .1s;
}
.mainBody ul li:hover::before{
	transform-origin: right;
	transform: scaleX(1);
}
.mainBody ul li p{
	padding: 0 0 4px;
	letter-spacing: .02em;
}
.mainBody ul li button{
	width: 100%;
	padding: 10px 0;
	text-transform: uppercase;
	border: none;
	outline: none;
	letter-spacing: .1em;
	background: #f00;
	color: #fff;
}
.filter{
	width: 100%;
	padding: 10px;
	font-size: 1rem;
	outline: none;
	margin: 2% 0 0;
}
button{
	cursor: pointer;
	transition: all .2s;
}
button:active{
	transform: scale(.9);
}
form{
	padding: 20px 0;
}
form input{
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	background: #ddd;
	font-size: 1rem;
	letter-spacing: .1em;
}
form input + button{
	padding: 20px;
	width: 100%;
	border: none;
	margin: 4% 0 0;
	text-transform: uppercase;
	letter-spacing: .1em;
	background: #000;
	color: #fff;
}

button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}
.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 24px;
  padding: 16px 32px;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}